body {
  font-family: "Noto Sans", "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  margin: 0px;
  padding: 0px;
  vertical-align: baseline;
  min-height: 100vh;
  font-size: 0.875rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  background-color: white;
  height: 61px;
  border-bottom: 1px solid rgba(0, 56, 68, 0.1);
}

.header-inner {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 61px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  padding-left: 16px;
  padding-right: 13px;
}

.nav a {
  font-weight: 400;
  color: rgb(171, 177, 177);
  font-size: 0.875rem;
  cursor: pointer;
  padding: 1.25rem 1rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.nav ul {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.user-profile {
  width: 100px;
}

.user-profile span > img {
  width: 100px;
}

.right-area {
  margin-left: auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.right-area .goto-service {
  font-size: 0.875rem;
  cursor: pointer;
  padding: 1.25rem 1rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(56, 64, 64);
}
.right-area .user-profile {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.right-area .user-btn {
  margin-left: 16px;
  border: none;
  background: transparent;
}

.right-area .user-btn span:first-child {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  width: 32px;
  height: 32px;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.right-area .user-btn span:last-child {
  color: rgb(56, 64, 64);
  margin-left: 10px;
}

/* main */

.content-inner {
  width: 936px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.info-section {
  padding: 40px 0px 60px;
}

.banner {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.info-section img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.info-section .left-area {
  position: relative;
  width: 614px;
  height: 400px;
}

.info-section .right-area {
  position: relative;
  width: 296px;
  height: 400px;
}

.info-section .left-area a,
.info-section .right-area a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}

.info-section .left-area .text-area,
.info-section .left-area .bottom-text,
.info-section .right-area .text-area,
.info-section .right-area .bottom-text {
  padding: 30px;
}

.info-section .left-area .text-area p:first-child,
.info-section .right-area .text-area p:first-child {
  white-space: pre-wrap;
  font-size: 2rem;
  line-height: 1.4;
  color: white;
  margin: 0px;
  font-weight: 400;
  max-width: 330px;
  word-break: keep-all;
}
.info-section .left-area .text-area p:last-child {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-top: 10px;
  color: white;
  word-break: keep-all;
}

.info-section .left-area .bottom-text,
.info-section .right-area .bottom-text {
  position: absolute;
  bottom: 0;
}

/* employment-section */
.title-wrapper {
  margin-bottom: 24px;
}

.employment-section .title {
  display: flex;
  align-items: center;
  -webkit-box-align: center;
}

.employment-section .title h3 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 4px;
  word-break: keep-all;
  margin-right: 4px;
}

.employment-section .help {
  cursor: help;
}

.description-wrapper {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.description-wrapper a {
  font-size: 0.875rem;
  color: rgb(23, 161, 255);
  font-weight: 400;
}

.employment-section .card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  width: 936px;
  margin-bottom: 24px;
}

.employment-section li {
  width: 100%;
  box-shadow: rgba(26, 27, 28, 0.12) 0px 4px 8px 0px;
  opacity: 1;
  border-radius: 5px;
  cursor: pointer;
}

.employment-section .card {
  width: 216px;
  border-radius: 5px;
}

.employment-section .card img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.employment-section .card-info-wrapper {
  padding: 12px 12px 16px;
}

.employment-section .card-info-wrapper .top-info {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.employment-section .card-info-wrapper .top-info span:first-child {
  background-color: rgb(56, 64, 64);
  border-radius: 10px;
  padding: 1px 8px;
  margin-right: 8px;
  color: white;
  padding: 1px 8px;
  font-size: 12px;
  font-weight: bold;
}
.employment-section .card-info-wrapper .top-info span.ongoing:first-child {
  background-color: rgb(147, 153, 153);
}

.employment-section .card-info-wrapper .top-info span:last-child {
  color: rgb(147, 153, 153);
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.employment-section .card-info-wrapper p {
  margin-top: 8px;
  font-weight: bold;
  height: 42px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* happy-folio-box */
.happy-folio-box {
  display: flex;
  position: relative;
  margin: 60px 0px 0px;
  padding: 20px 0px 0px;
}

.happy-folio-box::before {
  content: "";
  position: absolute;
  top: 0px;
  height: 230px;
  left: -9999px;
  right: -9999px;
  z-index: -1;
  background: rgb(240, 243, 243);
}

.happy-folio-box .slider {
  display: inline-flex;
  width: 335px;
  height: 251px;
  border-radius: 20px;
  background-color: rgb(147, 153, 153);
}
.happy-folio-box .slider img {
  width: 335px;
  height: 251px;
  border-radius: 20px;
}

.happy-folio-box .slider-info-box {
  position: relative;
  width: 100%;
  padding: 66px 0px 30px 30px;
}

.happy-folio-badge {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 0px;
  padding: 8px 22px 9px 30px;
  border-radius: 0px 17px 17px 0px;
  background: rgb(23, 161, 255);
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: rgb(255, 255, 255);
}

.happy-folio-box .slider-wrapper {
  display: flex;
}

.happy-folio-box .gray-text {
  font-size: 16px;
  line-height: 24px;
  color: rgb(147, 153, 153);
  word-break: keep-all;
}
.happy-folio-box .text {
  margin: 4px 0px 0px;
  font-weight: 700;
  font-size: 21px;
  line-height: 31px;
  word-break: keep-all;
  color: rgb(26, 27, 28);
}

/* employment-company */
.employment-company {
  margin-top: 60px;
  margin-bottom: 24px;
}

.common-title {
  display: flex;
  align-items: center;
  -webkit-box-align: center;
}

.common-title-wrapper {
  margin-bottom: 24px;
}

.common-title h3 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 4px;
  word-break: keep-all;
  margin-right: 4px;
}

.common-title .help {
  cursor: help;
}

.common-description-wrapper {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.common-description-wrapper a {
  font-size: 0.875rem;
  color: rgb(23, 161, 255);
  font-weight: 400;
}

.employment-company .company-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  width: 936px;
  margin-bottom: 24px;
}

.employment-company .company-wrapper li {
  width: 100%;
  box-shadow: rgba(26, 27, 28, 0.12) 0px 4px 8px 0px;
  opacity: 1;
  border-radius: 5px;
  cursor: pointer;
}

.company {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.company-logo {
  margin-right: 12px;
}

.company-logo img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.company .left-area {
  display: flex;
}

.company .company-info .company-category {
  font-size: 12px;
  color: rgb(147, 153, 153);
  margin-bottom: 2px;
}

.company .company-info .requirement-name {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.company .company-info .company-name {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 9px;
}

.company button {
  border: none;
  background-color: transparent;
  margin-bottom: auto;
}

.company .employment-type-wrapper {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.company .employment-type {
  border-radius: 5px;
  background-color: rgb(241, 249, 255);
  color: rgb(23, 161, 255);
  padding: 0px 4px;
  margin-top: 4px;
  margin-right: 4px;
  font-size: 12px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.company .add-info {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 4px;
  padding: 2px 4px;
  font-size: 12px;
  color: rgb(147, 153, 153);
  background-color: rgb(240, 243, 243);
  border-radius: 5px;
  width: max-content;
}

/* head-haunting-banner */
.head-haunting-banner {
  position: relative;
  margin: 60px 0;
}

.head-haunting-banner img {
  height: 120px;
}

.head-haunting-banner .banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 60px;
}

.head-haunting-banner .banner p {
  width: 100%;
  flex-shrink: 1;
  font-size: 21px;
  word-break: keep-all;
  color: #fff;
  margin-right: 261px;
}

.head-haunting-banner .banner p strong {
  display: inline-block;
  font-weight: 700;
  font-size: inherit;
  color: inherit;
}

.head-haunting-banner .banner a {
  display: block;
  flex-shrink: 0;
  width: 148px;
  padding: 12px 0px 13px;
  border-radius: 23px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.25);
  text-align: center;
}

/* m-class-section */
.m-class-section ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  width: 936px;
  margin-bottom: 24px;
}

.m-class-section .m-class {
  width: 100%;
  box-shadow: rgba(26, 27, 28, 0.12) 0px 4px 8px 0px;
  opacity: 1;
  border-radius: 5px;
  cursor: pointer;
  list-style: none;
  width: 100%;
}

.m-class-section .m-class img {
  display: block;
  border-radius: 3.5px 3.5px 0px 0px;
  width: 100%;
}

.m-class-section .m-class .payment-type {
  padding: 3px 12px;
  font-size: 12px;
  font-weight: bold;
  background-color: rgb(56, 64, 64);
  color: #fff;
}

.m-class-section .m-class .class-text-info {
  padding: 12px 12px 16px;
}

.m-class-section .m-class .class-category {
  color: rgb(147, 153, 153);
  font-size: 12px;
  margin-bottom: 4px;
}

.m-class-section .m-class .class-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
  height: 42px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.m-class-section .m-class .class-location {
  color: rgb(147, 153, 153);
  font-size: 12px;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.m-class-section .m-class .recruiter {
  color: rgb(254, 136, 60);
  font-size: 12px;
  margin-bottom: 6px;
}

.m-class-section .m-class .stage-box {
  display: flex;
  justify-content: space-between;
}

.m-class-section .m-class .stage-box p {
  color: rgb(254, 136, 60);
  font-size: 12px;
  font-weight: bold;
}

.m-class-section .m-class .stage-box span {
  color: rgb(147, 153, 153);
  font-size: 12px;
  font-weight: bold;
}

/* happy-folio-section */
.happy-folio-section ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  width: 936px;
  margin-bottom: 24px;
}

.happy-folio-section .happy-folio {
  position: relative;
  box-shadow: rgba(26, 27, 28, 0.12) 0px 4px 8px 0px;
  opacity: 1;
  border-radius: 5px;
  cursor: pointer;
  width: 216px;
  border-radius: 5px;
}

.happy-folio-section .happy-folio img {
  display: block;
  width: 100%;
  border-radius: 5px;
}

.happy-folio-section .happy-folio button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
}

.happy-folio-section .happy-folio-text {
  padding: 12px 12px 17px;
}

.happy-folio-section .happy-folio-text .category-wrapper {
  margin-bottom: 5px;
  display: flex;
}

.happy-folio-section .happy-folio-text .category-wrapper span {
  color: rgb(147, 153, 153);
  background-color: rgb(240, 243, 243);
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 5px;
  margin-left: 8px;
}
.happy-folio-section .happy-folio-text .category-wrapper span:first-child {
  margin-left: 0;
}

.happy-folio-section .happy-folio-text .happy-folio-title {
  font-size: 14px;
  font-weight: bold;
  height: 42px;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.host-image {
  width: 20px;
  height: 20px;
  position: relative;
}

.host-and-price {
  display: flex;
  flex-direction: column;
}

.host-info {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.happy-folio-section .happy-folio-text .host-info img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 4px;
}

.happy-folio-section .happy-folio-text .host-info span {
  font-size: 12px;
  color: rgb(147, 153, 153);
}

.happy-folio-section .happy-folio-text p:last-child {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  font-size: 14px;
  font-weight: bold;
}

/* footer */
footer {
  position: relative;
  width: 100%;
  padding: 27px 0px 37px;
  border-top: 1px solid rgb(229, 234, 234);
  background-color: rgb(255, 255, 255);
}

.footer-inner {
  width: 930px;
  margin: 0px auto;
}
.footer-top-menu {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(210, 215, 215);
}

.footer-menu {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  position: relative;
}

.footer-menu ul {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.footer-menu ul li {
  margin-left: 40px;
}
.footer-menu ul li:first-child {
  margin-left: 0;
}

.footer-menu ul li a {
  display: inline-block;
  color: rgb(26, 27, 28);
}

.footer-sec-menu {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 25px 0px 0px;
  position: relative;
  z-index: 1;
}

.footer-sec-menu .cs-info li {
  display: flex;
}

.footer-sec-menu .cs-info .service-title {
  min-width: 82px;
  font-weight: 700;
}

.footer-sec-menu .cs-info .detail-info {
  font-size: 12px;
  line-height: 21px;
  color: rgb(56, 64, 64);
}

.footer-sec-menu .cs-info .detail-info .go-to-link {
  margin: 0px 0px 0px 4px;
  font-weight: 700;
}

.footer-bottom-menu {
  display: flex;
  justify-content: space-between;
}
.footer-bottom-menu .company-info-textbox p {
  font-size: 12px;
  line-height: 18px;
  color: rgb(171, 177, 177);
  word-break: keep-all;
}
.footer-bottom-menu a {
  flex-shrink: 0;
  font-size: 14px;
  line-height: 20px;
  color: rgb(171, 177, 177);
}
